h1, h2, h3, h4, h5, a {
    color: #F7274C;
}

#logo img {
    width: 175px;
}

body {
    background-color: #F8FCEB;
}

#page {
    background-color: #F8FCEB;
    font-family: 'Abril Fatface', cursive;
    width: 75%;
    margin: auto;
    text-align: center;
}

#navigation {
    float: left;
}

#content {
    float: right;
}

#block-system-navigation {
    display: none;
}

#name-and-slogan {
    height: 150px;
}
